.fadeIn{
    opacity: 1;
    z-index: 2;
    transition: 0.5s;
}
.fadeOut{
    opacity: 0;
    z-index: 1;
    transition: 0.5s;
}
.overlay-main{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5));
}
.swaper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
}
.swaper div{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}